<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shyroke.mapper.SelectedMedicalMapper">
  <resultMap id="BaseResultMap" type="com.shyroke.entity.SelectedMedical">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="selelcted_medical_id" jdbcType="INTEGER" property="selelctedMedicalId" />
    <result column="selected_medical_name" jdbcType="VARCHAR" property="selectedMedicalName" />
    <result column="doctor_id" jdbcType="INTEGER" property="doctorId" />
    <result column="doctor_name" jdbcType="VARCHAR" property="doctorName" />
  </resultMap>
  <sql id="Base_Column_List">
    id, selelcted_medical_id, selected_medical_name, doctor_id, doctor_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from selected_medical
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from selected_medical
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.shyroke.entity.SelectedMedical">
    insert into selected_medical (id, selelcted_medical_id, selected_medical_name, 
      doctor_id, doctor_name)
    values (#{id,jdbcType=INTEGER}, #{selelctedMedicalId,jdbcType=INTEGER}, #{selectedMedicalName,jdbcType=VARCHAR}, 
      #{doctorId,jdbcType=INTEGER}, #{doctorName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.shyroke.entity.SelectedMedical">
    insert into selected_medical
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="selelctedMedicalId != null">
        selelcted_medical_id,
      </if>
      <if test="selectedMedicalName != null">
        selected_medical_name,
      </if>
      <if test="doctorId != null">
        doctor_id,
      </if>
      <if test="doctorName != null">
        doctor_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="selelctedMedicalId != null">
        #{selelctedMedicalId,jdbcType=INTEGER},
      </if>
      <if test="selectedMedicalName != null">
        #{selectedMedicalName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        #{doctorName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.shyroke.entity.SelectedMedical">
    update selected_medical
    <set>
      <if test="selelctedMedicalId != null">
        selelcted_medical_id = #{selelctedMedicalId,jdbcType=INTEGER},
      </if>
      <if test="selectedMedicalName != null">
        selected_medical_name = #{selectedMedicalName,jdbcType=VARCHAR},
      </if>
      <if test="doctorId != null">
        doctor_id = #{doctorId,jdbcType=INTEGER},
      </if>
      <if test="doctorName != null">
        doctor_name = #{doctorName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.shyroke.entity.SelectedMedical">
    update selected_medical
    set selelcted_medical_id = #{selelctedMedicalId,jdbcType=INTEGER},
      selected_medical_name = #{selectedMedicalName,jdbcType=VARCHAR},
      doctor_id = #{doctorId,jdbcType=INTEGER},
      doctor_name = #{doctorName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  
  <delete id="deleteByDoctorId" parameterType="java.lang.Integer">
  	delete from selected_medical
  	where doctor_id=#{doctorId}
  </delete>
  
  <select id="selectByDoctorId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	select * from selected_medical
  	where doctor_id=#{doctorId}
  </select>
  
</mapper>